body {
    background-image:url("assets/site_background.png");
}

div.menu {
    background-color:#D0D4E6;
    border-radius:25px;
    margin:auto;
    padding:5px;
    width:50%;
}

table.menu {
    border-spacing:5%;
    width:100%;
}

td.menuButton {
    margin:5px;
    text-align:center;
    width:20%;
}

td.searchCell {
    width:10%;
}